.App {
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eaeded;
  ;
}

header {
  width: 1500px;
  text-align: center;
  margin-left: 200px;
  /* margin-top: 10px; */
  border: 1px solid black;
  border-top: 15px solid #ecbd33;
  /* border-top: 15px solid darkslategrey; */
  /* color:darkslategrey; */
  /* padding-bottom: 1px; */
  background-color: #fcebb6;
}

.left {
  width: 400px;
  margin: 20px 100px 0 200px;
  border: 1px solid black;
  background-color: #fcebb6;
  display: inline-block;
}

.right {
  width: 1000px;
  margin-top: 40px;
  vertical-align: top;
  display: inline-block;
  /* border: 1px solid black; */
  /* background-color:aliceblue; */
}

.left h1 {
  /* margin-left: 40px; */
  padding: 3px;
  text-align: center;
  background-color: #ecbd33;
}

h2 {
  padding: 10px;
  /* font-size: 1.5rem; */
  background-color: #fcebb6;
  border: 1px solid black;
}

h3 {
  color: crimson
}

h4 {
  padding-right: 10px;
  text-align: right;
  color: cadetblue
}

a {
  font-size: 1.5rem;
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  border: 1px solid black;
  background-color: goldenrod
}

a:visited {
  color: black;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
  padding: 5px 10px;
}

table {
  width: 1000px;
}

th {
  text-align: left;
}

.name {
  width: 250px;
}

.desc {
  width: 550px;
}

.price {
  width: 200px;
  padding-left: 40px;
}

.fs {
  font-size: 16px;
}

tr:nth-child(2n+2) {
  background-color: lightgray;
}

ul {
  list-style-type: none;
}